img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.fotoNombre {
    width: 300px;
}

a {
    margin-left: 5%;
}

.horizontal {
    border-bottom: 0.5px solid #C0C0C0;
}

@media (max-width: 40rem) {
    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
}