.fotoNombre img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
  
.contenido img{
    width: 80%;
    height: 80%;
}

.btn-primary {
    border-radius: 100% !important; 
    position: fixed;
    right: 10%;
    bottom: 10%;
}

/* #dropdownMenuButton {
    width: 10%;
    margin-left: auto;
} */

/* .dropdown-menu{
    width: 5% !important;
} */




/* .gallery-it {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
} */

.card:hover .prueba button,
.card:focus .prueba button {
    display: flex;
    /* justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); */
}

.prueba button{
    display: none;
}

/* .gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
}

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
} */