.fotoNombre img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.tamano {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
}

.btn-primary {
    border-radius: 100% !important;
    position: fixed;
    right: 10%;
    bottom: 10%;
}

.prueba button {
    display: none;
}

.card:hover .prueba button,
.card:focus .prueba button {
    display: inline;
}

.comentario button {
    display: none;
}

.comentario:hover button,
.comentario:focus button {
    display: inline;
}