.fotoNombre img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.contenido img {
    width: 80%;
    height: 80%;
}

.btn-primary {
    border-radius: 100% !important;
    position: fixed;
    right: 10%;
    bottom: 10%;
}

.prueba button {
    display: none;
}

.card:hover .prueba button,
.card:focus .prueba button {
    display: inline;
}

.comentario button {
    display: none;
}

.comentario:hover button,
.comentario:focus button {
    display: inline;
}